{{ define "main" }}
<div class="container px-5  resume ">
  <!-- Row 1-->

  <div class="">
    <div id="developer_name" class="text-3xl">{{ .Params.developer_name }}</div>
    <div id="developer_pos" class="text-xl">{{ .Params.developer_position }}</div>
  </div>



  <!-- row 2 -->
  <div class="grid grid-cols-1 sm:grid-cols-4 sm:gap-4">

    <div class="sm:col-span-3 resume-content">{{ .Content }}</div>
    <div class="sm:col-span-1 side order-first sm:order-last"> 
        {{ if .Params.contacts_show }}
        <h2>Contacts</h2>
        <dl class="grid grid-cols-3">
          {{ if .Params.contacts_email }}
          <dt>mail</dt>
          <dd class="col-span-2"><a href="mailto:{{ .Params.contacts_email }}">
            {{ .Params.contacts_email }}</a></dd>
          {{ end }} {{ if .Params.contacts_phone }}
    
          <dt>tel</dt>
          <dd class="col-span-2"><a href="tel:{{ .Params.contacts_phone }}">{{ .Params.contacts_phone }}</a></dd>
          {{ end }} 
          {{ if .Params.contacts_city }}
          <dt>city</dt>
          <dd class="col-span-2">{{ .Params.contacts_city }}</dd>
          {{ end }}
        </dl>
        {{ end }}
      


      {{ if .Params.stack }}
      <h2>Tech stack</h2>
      <ul>
        {{ range $tech := .Params.stack }}
        <li>{{ $tech }}</li>
        {{ end }}
      </ul>
      {{ end }}

    </div>
  </div>
</div>

{{ end }}
