@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .footnote {
    @apply text-xs;
  }

  .nav-menu-item {
    @apply inline px-4 mr-4 hover:bg-gray-400 bg-gray-200;
  }

  .resume h2 {
    @apply uppercase border-b border-black text-xl mt-5;
  }
  .resume-content h3 {
    @apply text-xl mt-4;
  }
  .resume-content h4 {
    @apply text-lg mt-2;
  }

  .resume-content {
  }

  .resume-content p {
    @apply pl-1;
  }
  .resume-content ul {
    @apply pl-1 ml-10;
    list-style: circle;
  }
  .side ul {
    @apply pl-5;
    list-style-type: square;
  }
  .side li {
    @apply ml-2;
  }

  .post h1 {
    @apply text-2xl mt-5;
  }

  .post-title h1 {
    @apply border-b border-black;
  }
  .post h1 {
    @apply text-2xl mt-5;
  }
  .post h2 {
    @apply text-xl mt-3;
  }
  .post h3 {
    @apply text-lg mt-2;
  }
  .post pre {
    @apply p-2;
  }
  .post-content p {
    @apply mt-2;
  }

  .post-content a,
  .post-content a:visited {
    @apply text-indigo-600;
  }
  .post-content a:hover {
    @apply underline;
  }

  /* second generation of font scale*/
  .article2 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
  }

  .article2 .highlight code {
    padding: 0;
  }

  .article2 h1,
  .article2 h2,
  .article2 h3,
  .article2 h4,
  .article2 h5,
  .article2 h6 {
    /*font-family: "Raleway", sans-serif;*/
    font-weight: 300;
    margin: 20px 0 20px;
  }

  .article2 h1 {
    font-size: 3.052rem;
    line-height: 1.1em;
    margin-top: 28px;
  }
  .article2 h2 {
    font-size: 2.441rem;
    line-height: 1.1em;
    margin-top: 24px;
  }
  .article2 h3 {
    font-size: 1.953rem;
    line-height: 1.1em;
  }
  .article2 h4 {
    font-size: 1.563rem;
    line-height: 1.1em;
  }
  .article2 h5 {
    font-size: 1.25rem;
    line-height: 1.1em;
  }
  .article2 h6 {
    font-size: 1rem;
    line-height: 1.1em;
  }

  .article2 ul {
    list-style: disc;
    padding: 0 0 0 20px;
  }
  .article2 p {
    text-indent: 24px;
    margin: 20px 0 20px 0;
  }

  .article2 a,
  .article2 a:visited {
    color: #1867c0;
  }
}
