<div class="header container">

    <div class="border-b border-black">
        <!--<div class="text-xl px-5 py-5">
            {{ $baseurl := .Site.BaseURL }}
            <a href="{{$baseurl}}" class="">{{ .Site.Title }}</a>
        </div>-->
        
        
        <div class="">
            <ul class="px-5">
                <li class="nav-menu-item">
                    <a href="{{ $baseurl }}" class="">Home</a>
                </li>
				{{ if eq .Site.Params.topmenu "categories" }}
                {{ range $name,$page := .Site.Taxonomies.categories }}
                <li class="nav-menu-item">
                    <a href="{{ $baseurl }}categories/{{ $name | urlize }}" class="">{{ $name | title }}</a>
                </li>
                {{ end }}
				{{ end }}
                <li class="nav-menu-item">
                    <a href="{{ $baseurl }}about/info" class="pure-menu-link">About</a>
                </li>
            </ul>
        </div>
        <div class="mobile pure-menu nav-menu" style="display:none;">
            <a href="/" class="pure-menu-heading" id="toggle-home">{{ .Site.Title }}</a>
            <a href="#" id="toggle-btn">&#9776;</a>
            <ul class="pure-menu-list" id="toggle-content" style="display:none;">
                {{ $baseurl := .Site.BaseURL }}
				{{ if eq .Site.Params.topmenu "categories" }}
                {{ range $name,$page := .Site.Taxonomies.categories }}
                <li class="pure-menu-item">
                    <a href="{{ $baseurl }}categories/{{ $name | urlize }}" class="pure-menu-link">{{ $name | title }}</a>
                </li>
                {{ end }}
				{{ end }}
                <li class="pure-menu-item">
                    <a href="{{ .Site.BaseURL }}about" class="pure-menu-link">About</a>
                </li>
            </ul>
        </div>
    </div>
    
</div>
