{{ define "main" }}
        <div class="post  p-4"> <!-- post-content -->
            <div class="post-title">
                <h1>{{ if .Draft }}DRAFT: {{end}}{{ .Title }}</h1>
                <p class="footnote">
                    <time class="">{{ .Date.Format "2006-01-02" }}</time>
		            {{ $baseurl := .Site.BaseURL }}
                    {{ if or .Params.tags .Params.categories .Params.series }}
                    |
                    {{ end }}
                    {{ if isset .Params "tags" }}
                    tags:{{ range .Params.tags }}[<a href="{{ $baseurl }}tags/{{ . | urlize }}">{{ . }}</a>] {{ end }}
                    {{ end }}

                    {{ if isset .Params "categories" }}
                    categories:{{ range .Params.categories }}<a href="{{ $baseurl }}categories/{{ . | urlize }}">{{ . }}</a> {{ end }}
                    {{ end }}

                    {{ if isset .Params "series" }}
                    series:{{ range .Params.series }}<a href="{{ $baseurl }}series/{{ . | urlize }}">{{ . }}</a> {{ end }}
                    {{ end }}
                </p>
                
            </div>

            <div class="article2 mt-4">
                {{ .Content }}
            </div>
        </div>
{{ end }}
